*
{
   
    padding: 0;
    margin: 0;
    
}

.header
{
   
    width: 100%;
    min-height: 100vh;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)) , url(images/b1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;

}

.header img{
    margin-top: 5px;
    width: 170px;
    float: left;
}

.login-btn{
    margin-top: 5px;
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    color: white;
    float: right;
}

.header h1{
    padding-top: 260px;
    padding-bottom: 0;
    font-size: 55px;

}

.header p{
    margin: 18px 0;
}

.input-group{
    width: 90% !important;
    max-width: 500px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    padding: 2px;
}


.form-control{
 border: 0 !important;
 border-radius: 10px !important;
 margin: 2px;
 box-shadow: none !important;
}

.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: white !important;
   padding: 0 25px !important ;
    border-radius: 10px !important;
    box-shadow: none !important;
}

/* <!-- -------------------------features-------------------------- --> */


.features{

    padding: 100px 0;
    

}
h1{
    text-align: center;
    padding-bottom: 30px;
}

.feature-img img{
    width: 100%;


}
.price{
    width: 50px;
    height: 50px;
    background: rgb(247, 58, 0);
     color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: black;
    position: absolute;
    left: 20px;
    bottom: -25px;
}

.feature-img{
    position: relative;

}

.rating{
    padding: 3px;
    float: right;
    background: rgb(255, 255, 255);
    bottom: -1px;
    right: 0;
    position: absolute;
}

.features .fas{
    font-size: 15px;
    color: rgb(255, 41, 4); 
}

.feature-details{
    padding: 20px;
    text-align: justify;
}

.feature-details h4{
    margin-top: 15px;
    font-weight: 600;
    
}

.feature-box{
    box-shadow:  0 0 10px 1px orange;
    margin-bottom: 30px;
}


/* <!-- -------------------------features-------------------------- --> */

.gallery{
    padding: 100px 0;
    background:rgb(233, 230, 230)

}


.gallery-box img {

    width: 100%;
border-radius: 10px;
cursor: pointer;
transition: 1s;

}


.gallery-box img:hover{
    transform: scale(1.1);


}

.gallery-box h4{

    display: block;
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-shadow: -2px 2px 2px rgb(5, 5, 5);
    transform: translate(-50% , -50%);
}


.gallery-box{

    position: relative;
    margin-bottom: 30px;
}


/* <!-- -------------------------banner-------------------------- --> */

 .banner{
    height: 80vh;
     background-image: url(images/b2.jpg); 
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15%;

} 
.banner-highlights{
padding:70px 0 ;
background: rgba(0,0,0,0.7);
text-align: center;
color: white;
}


.booking-btn{
    margin-top: 10px;
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    color: white;
    
}

/* <!-- ------------------------user-------------------------- --> */

.users-feedback h1{

    padding-top: 100px;
}


.users-review{
text-align: center;
box-shadow:0 0 10px 0 orange;
margin-bottom: 100px;
padding-bottom: 40px;


}

.users-review p{
    padding: 20px 10px 10px 10px;
    text-align: left;

}

.users-feedback img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -210px 0 20px 40%;
}

.users-review p::before
{
    content:'\201d' ;
    display: block;
    position: absolute;
    font-size: 50px;
    color: orangered;
    left: 50%;
    top: -5%;
}

/* <!-- ------------------------footer------------------------- --> */


.footer{
 padding: 100px 20px;
 padding-bottom: 20px;
 background-image: linear-gradient(#2d557d, #9610fd);
 color: white;

}

.footer-logo{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;

}


.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;

}

.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}


.footer .row .fas{
    padding-right: 20px;
    font-size: 15px;
}

.footer .row .fab{
    padding-right: 20px;
    font-size: 15px;
}

.footer hr
{
    margin-top: 10px;
    background: whitesmoke;
}

.footer .salim{
    text-align: center;
    font-size: 15px;
}