*
{
   
    padding: 0;
    margin: 0;
    
}

.header
{
   
    width: 100%;
    min-height: 100vh;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)) , url(images/b1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;

}

.header img{
    margin-top: 5px;
    width: 170px;
    float: left;
}

.login-btn{
    margin-top: 5px;
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
    float: right;
}

.header h1{
    padding-top: 200px;
    padding-bottom: 0;
    font-size: 55px;

}

.header p{
    margin: 18px 0;
}

.input-group{

    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background-color: white;
    margin: auto;
    padding: 2px;
}


.form-control{
 border: 0 !important;
 border-radius: 30px !important;
 margin: 2px;
 box-shadow: none !important;
}

.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: white !important;
   padding: 0 25px !important ;
    border-radius: 30px !important;
    box-shadow: none !important;
}